# Ignore build artifacts
build/

# Ignore the env file used by docker-compose
.env

# Runtime Artifacts
development-runtime/

# VS Code Settings.json - Leave as Per Developer Environment
settings.json
